body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#smlist {
  display: flex;
  flex-wrap: wrap;
}

#main {
  margin: auto;
  display: flex;
  align-items: left;
  flex-direction: column;
  width: 50%;
}

#login {
  display: flex;
  align-items: center;
}
